[submodule "resources/OcBinaryData"]
	path = resources/OcBinaryData
	url = https://github.com/acidanthera/OcBinaryData.git
[submodule "OpenCore/OpenCore/tools/GenSMBIOS"]
	path = OpenCore/OpenCore/tools/GenSMBIOS
	url = https://github.com/corpnewt/GenSMBIOS
